.page-item-group ion-list {
  margin-bottom: var(--ion-margin, 20px);
}

.ios .page-item-group ion-item:last-of-type {
  --inner-border-width: 0;
}

.md .page-item-group ion-item:last-of-type {
  --inner-border-width: 0;
  --border-width: 0 0 1px 0;
}
